global:
  scrape_interval:     10s
  evaluation_interval: 10s

scrape_configs:
# Prometheus
  - job_name: prometheus
    scheme: https
    scrape_interval: 5s
    static_configs:
      - targets: [
      'prom.monitoring.de-marauder.me'
          ]
# alertmanager
  - job_name: alertmanager
    scheme: https
    scrape_interval: 5s
    static_configs:
      - targets: [
      'alert.monitoring.de-marauder.me'
          ]
# grafana
  - job_name: grafana
    scheme: https
    scrape_interval: 5s
    static_configs:
      - targets: [
      'grafana.monitoring.de-marauder.me'
          ]
# Node exporter
  - job_name: 'node_exporter_db'
    scheme: http
    scrape_interval: 5s
    static_configs:
      - targets: [
      '10.0.3.134:9100'
          ]

  - job_name: 'node_exporter'
    scheme: https
    scrape_interval: 5s
    static_configs:
      - targets: [
      'node.monitoring.de-marauder.me',
      'node.app-1.de-marauder.me',
      'node.app-2.de-marauder.me',
          ]
    tls_config:
      insecure_skip_verify: true
#    basic_auth:
#      username: {{ htaccessusr }}
#      password: {{ htaccesspwd }}
# Docker metrics server
  - job_name: 'docker_metrics_db'
    scheme: http
    scrape_interval: 5s
    static_configs:
      - targets: [
      '10.0.3.134:9323'
          ]

  - job_name: 'docker_metrics'
    scheme: https
    scrape_interval: 5s
    static_configs:
      - targets: [
      'docker.monitoring.de-marauder.me',
      'docker.app-1.de-marauder.me',
      'docker.app-2.de-marauder.me',
          ]
    tls_config:
      insecure_skip_verify: true
#    basic_auth:
#      username: {{ htaccessusr }}
#      password: {{ htaccesspwd }}

# Cadvisor
  - job_name: 'cadvisor_db'
    scrape_interval: 5s
    scheme: http
    static_configs:
      - targets: [
      '10.0.3.134:9324'
          ]
          
  - job_name: 'cadvisor'
    scrape_interval: 5s
    scheme: https
    static_configs:
      - targets: [
      'cadvisor.monitoring.de-marauder.me',
      'cadvisor.app-1.de-marauder.me',
      'cadvisor.app-2.de-marauder.me',
          ]
    tls_config:
      insecure_skip_verify: true
#    basic_auth:
#      username: {{ htaccessusr }}
#      password: {{ htaccesspwd }}

# Blackbox
  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets: [
        'prom.monitoring.de-marauder.me',
        'grafana.monitoring.de-marauder.me',
        'alert.monitoring.de-marauder.me',
        'app.de-marauder.me',
        '10.0.3.134'
        ]
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: blackbox:9115  # The blackbox exporter's real hostname:port.

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - alert.rules.yml