UseSTARTTLS=no
FromLineOverride=YES
root={{ssmtp_username}}@gmail.com
mailhub=smtp.gmail.com:465
AuthUser={{ssmtp_username}}@gmail.com
AuthPass={{ssmtp_password}}
rewriteDomain=gmail.com
FromLineOverride=YES
UseTLS=YES