UseSTARTTLS=no
FromLineOverride=YES
root={{smtp_username}}@gmail.com
mailhub=smtp.gmail.com:465
AuthUser={{smtp_username}}@gmail.com
AuthPass={{smtp_password}}
rewriteDomain=gmail.com
FromLineOverride=YES
UseTLS=YES