#name: Terraform CI-CD

on:
  push:
    paths:
      - Infrastructure/**
    branches:
      - main

env:

#TERRAFORM
  TF_CLOUD_ORGANIZATION: "group23"
  TF_API_TOKEN: ${{ TF_API_TOKEN }}
  TF_WORKSPACE: "group23"
  TF_ACTION_WORKING_DIR: 'Infrastructure'
#AWS
  AWS_REGION: "eu-west-2"
  AWS_ACCESS_KEY_ID:  ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY:  ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#GITHUB
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
  

jobs:
   terraform-setup:
    name: Terraform CI-CD
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    #defaults:
     # run:
       # shell: bash
    
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2.2.1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
    
      - name: Install Terraform
        uses: little-core-labs/install-terraform@v2.0.0
        with:
          cli_config_credentials_token: ${{ env.TF_API_TOKEN }}
          version: 0.13.4

      - name: Confirm Install
        run: terraform -v
      
#terraform init
      - name: Terraform Init
        uses: hashicorp/terraform-github-actions/init@v0.4.0
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          run: terraform init -input=false

#initiate terraform to run          
      - name: Create Plan Run
        uses: hashicorp/tfc-workflows-github/actions/create-run@v1.0.0
        id: plan-run
        with:
          workspace: ${{ env.TF_WORKSPACE }}
          configuration_version: ${{ steps.plan-upload.outputs.configuration_version_id }}
          plan_only: true

#terraform plan         
      - name: Terraform Plan
        uses: hashicorp/terraform-github-actions/plan@v0.14.0
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          #run: terraform plan -input=false
        with:
          version: 0.13.4
          working-directory: Infrastructure

#initiate terraform to apply          
      - name: 'Create Terraform Apply'
        uses: hashicorp/tfc-workflows-github/actions/create-run@v1.0.0
        id: apply-run
        with:
          workspace: ${{ env.TF_WORKSPACE }}
          configuration_version: ${{ steps.plan-upload.outputs.configuration_version_id }}

#terraform apply          
      - name: Terraform Apply
        uses: hashicorp/terraform-github-actions/apply@v0.14.0
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          #run: terraform apply -auto-approve -input=false 
        with:
          version: 0.13.4
          working-directory: Infrastructure
          auto_approve: true


# - name: Terraform Apply
#   run: |
#     terraform init
#     terraform plan
#     terraform apply -auto-approve
