name: Terraform CI-CD

on:
  push:
    paths:
      - Infrastructure/**
  branches:
    - main

env:
  TF_CLOUD_ORGANIZATION: "group23"
  TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
  TF_WORKSPACE: "group23"
  CONFIG_DIRECTORY: "./"

jobs:
   terraform:
    if: github.repository != 'hashicorp-education/learn-terraform-github-actions'
    permissions:
      contents: read

   terraform-setup:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
    
      - name: Upload Configuration
        uses: hashicorp/tfc-workflows-github/actions/upload-configuration@v1.0.0
        id: plan-upload
        with:
          workspace: ${{ env.TF_WORKSPACE }}
          directory: ${{ env.CONFIG_DIRECTORY }}
          speculative: true

      - name: Install Terraform
        uses: little-core-labs/install-terraform@v2.0.0
        with:
          version: 0.13.4

      - name: Confirm Install
        run: terraform -v

      - name: Create Plan Run
        uses: hashicorp/tfc-workflows-github/actions/create-run@v1.0.0
        id: plan-run
        with:
          workspace: ${{ env.TF_WORKSPACE }}
          configuration_version: ${{ steps.plan-upload.outputs.configuration_version_id }}
          plan_only: true

      - name: 'Terraform Apply'
        uses: hashicorp/tfc-workflows-github/actions/create-run@v1.0.0
        id: apply-run
        with:
          workspace: ${{ env.TF_WORKSPACE }}
          configuration_version: ${{ steps.plan-upload.outputs.configuration_version_id }}

    # - name: Terraform Apply
    #   run: |
    #     terraform init
    #     terraform plan
    #     terraform apply -auto-approve
